<?XML version="1.0"?>
<scriptlet>
	<registration progid="exampleprogid" classid="{exampleclassid}" >
		<script language="vbscript">
		<![CDATA[
' Insert VBS
		]]>
		</script>
	</registration>
</scriptlet>
